:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", sans-serif;
    color: #444444;
}

a {
    color: #4154f1;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}


@media (max-width: 768px) {
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }

}

@media (max-width: 375px) {

    .header-container {
        padding: 0px 30px;
    }

    .header img {
        width: 50px;
        height: auto;
    }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 70px;
    bottom: 15px;
    z-index: 99999;
    background: #ed1c24;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.5s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: red;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.chat {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background: limegreen;
    width: 40px;
    height: 40px;
    border-radius: 4px;

}

.chat i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.chat:hover {
    background: lime;
    color: #fff;
}

.chat.active {
    visibility: visible;
    opacity: 1;
}

@media(max-width: 767px){
    .back-to-top {
        right: 15px;
        bottom: 60px;        
    }
  
    .chat {    
        right: 15px;
        bottom: 15px;       
    }  
}

@media(max-width: 425px) {

    .back-to-top {
        right: 15px;
        bottom: 60px;    
        width: 35px;
        height: 35px;       
    }

    .back-to-top i {
        font-size: 20px;
    }

    .chat {    
        right: 15px;
        bottom: 15px;
        width: 35px;
        height: 35px;
    }  
    
    .chat i {
        font-size: 20px;
    }
}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}

.header.header-scrolled {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
    line-height: 0;
}

.header .logo img {
    max-height: 40px;

}

.header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ed1c24;
    font-family: "Segoe UI", sans-serif;
    margin-top: 3px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0px 0px 0px 0px;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: black;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover>a {
    color: #ed1c24;
}

.navbar .getstarted {
    background: #4154f1;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
}

.navbar .getstarted:hover {
    color: #fff;
    background: #5969f3;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #4154f1;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

@media (min-width: 1000px) {
   
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: black;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: grey;
}

@media (max-width: 768px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #FBD0D2;
    transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    height: 80vh;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: black;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #ed1c24;
}


.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #4154f1;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}




/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    background: url(../image/bghead.svg) top right no-repeat;
    background-size: 50rem;
}

.hero-img {
    margin-top: 1%;
    margin-left: 10%;
    width: 40%;
    height: auto;
}

.hero h2 {
    margin-top: -2%;
    font-size: 48px;
    font-weight: 700;
    color: black;
}

.hero p {
    color: black;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
}

.hero .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #ed1c24;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    border-radius: 150px;
}

.hero .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.hero .btn-get-started:hover i {
    transform: translateX(5px);
}

/* @media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
} */
/* @media (max-width: 1024px) {
    .hero h2 {
        margin: 0;
        font-size: 35px;
        font-weight: 700;
        color: black;
    }
} */


@media (max-width: 1199px) {
    .hero {
        background-size: 45rem;

    }
}

@media (max-width: 991px) {
    .hero {
        background-size: 33rem;
        padding: 160px 0;
        text-align: center;
    }

    .hero .hero-img {
        display: none;
    }

    .hero h2 {
        font-size: 30px;
    }

}

@media (max-width: 768px) {
    .hero {
        background-size: 30rem;
    }

    .hero h2 {
        font-size: 24px;
    }

}

@media (max-width: 425px) {
    .hero {
        background-image: none;
    }

}

@media (max-width: 375px) {


    .hero h2 {
        font-size: 28px;
        font-weight: 700;
        color: black;
    }

    .hero p {
        color: black;
        font-size: 15px;
        text-align: center;
    }

}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/


.modal-body {
    padding: 0px 12px;
}

.modal input {
    margin-top: 10px;
    box-shadow: 0px 3px 10px rgba(65, 84, 241, 0.4);
    border-radius: 10px;
}

.close button {
    text-align: right;
}

.modal textarea {
    margin-top: 10px;
    box-shadow: 0px 3px 10px rgba(65, 84, 241, 0.4);
    border-radius: 10px;
}

.bg-consult-red {
    color: white;
}

.bg-consult-red h2 {
    font-size: 45px;
    opacity: 50%;
    margin: 20px 20px 8px;
    margin-top: 10%;
}

.bg-consult-red h3 {
    margin: 10px 20px 8px;
    margin-top: 1%;
}

.bg-consult-red img {
    width: 400px;
    margin: 10px 50px 15px;
    margin-top: -2%;
    margin-left: 13%;
}

@media (max-width: 1199px) {
    .bg-consult-red img {
        width: 400px;
        margin: 10px 0px 15px;
    }
}

@media (max-width: 991px) {
    .bg-consult-red {
        display: none;

    }
}

@media (max-width: 575px) {
    .tlpn {
        margin-top: 15px;
    }
}



/*--------------------------------------------------------------
# Service
--------------------------------------------------------------*/

.title-service-kami p {
    font-size: 12px;
    text-align: center;
}

.title-service {
    font-size: 50px;
    font-weight: 700;
    color: #ed1c24;
    top: 120vh;
    font-family: "segoe UI";
    text-align: center;
}

.title-s-kami {
    font-size: 50px;
    font-weight: 700;
    color: grey;
    font-family: "segoe UI";
    text-align: center;
}

.service-item {
    margin-top: 3vh;
}

.service-item h5 {
    font-weight: 700;
}

.service-item p {
    font-size: 12px;
}

.service-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

@media (max-width:768px) {

    .title-service-kami h1 {
        font-size: 35px;
    }

    .service .standing-img img {
        width: 80%;
        height: auto;
    }
}

@media(max-width: 760px) {
    .service .standing-img img {
        display: none;
    }
}

/*--------------------------------------------------------------
# Galeri
--------------------------------------------------------------*/

.title-gallery {
    margin-left: 5vh;
}

.tg {
    padding: 0px 5px;
}

.title-galeri-1 {
    font-size: 50px;
    font-weight: 700;
    color: #ed1c24;
    font-family: "segoe UI";
    text-align: right;
    padding: 0px 0px;
}

.title-galeri-2 {
    font-size: 50px;
    font-weight: 700;
    color: grey;
    font-family: "segoe UI";
    text-align: left;
}

@media (max-width: 768px) {
    .title-galeri-1 {
        font-size: 35px;

    }

    .title-galeri-2 {
        font-size: 35px;

    }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio {
    padding: 0px 0px;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(255, 255, 255, 0.75);
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap img {
    transition: 1s;
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid rgba(1, 41, 112, 0.2);
    border-left: 3px solid rgba(1, 41, 112, 0.2);
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid rgba(1, 41, 112, 0.2);
    border-right: 3px solid rgba(1, 41, 112, 0.2);
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
}

.portfolio .portfolio-wrap .portfolio-info p {
    color: #012970;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    background: #4154f1;
    margin: 10px 2px;
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a i {
    font-size: 24px;
    line-height: 0;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    background: #5969f3;
}

.portfolio .portfolio-wrap:hover img {
    transform: scale(1.1);
}

.portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #4154f1;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #4154f1;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}

/* @media (max-width: 575px ) {

    .portfolio .portfolio-wrap img {
        transition: 1s;
        width: 150px;
        height: 150px;
        object-fit: fill;
    }
} */


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.title-tentang {
    font-size: 50px;
    font-weight: 700;
    color: #ed1c24;
    font-family: "segoe UI";

}

.title-kami {
    font-size: 50px;
    font-weight: 700;
    color: grey;
    font-family: "segoe UI";
}

.tentang p {
    color: black;
    font-size: 15px;

}

.tentang .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #ed1c24;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    border-radius: 150px;
}

.tentang .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.tentang .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.tentang .btn-get-started:hover i {
    transform: translateX(5px);
}

.about-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

@media (max-width: 991px) {
    .laptop-img {
        display: none;
    }

    .title-tentang {
        margin: 50px 0px 8px;
    }
}

@media(max-width: 768px) {

    .title-tentang {
        font-size: 35px;
        margin: 50px 0px 8px;
    }

    .title-kami {
        font-size: 35px;
    }

    .laptop-img {
        display: none;
    }

}

@media (max-width: 767px) {
    .tentang {
        text-align: center;
    }
}



/*--------------------------------------------------------------
# tertaik
--------------------------------------------------------------*/


.title-tertarik {
    font-size: 50px;
    font-weight: 700;
    color: #ed1c24;
    font-family: "segoe UI";
    margin: 90px 0px 8px;
}

.title-kami-siap-bantu {
    font-size: 50px;
    font-weight: 700;
    color: grey;
    font-family: "segoe UI";
}

.siap .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #ed1c24;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    border-radius: 150px;
}

.siap .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.siap .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.siap .btn-get-started:hover i {
    transform: translateX(5px);
}


@media (max-width: 1199px) {
    .siap-img img {
        width: 95%;
        height: auto;

    }

    .title-tertarik {

        margin: 50px 0px 8px;
    }
}

@media (max-width: 991px) {
    .siap-img img {

        width: 100%;
        height: auto;
        margin: 40px 0px 8px;
    }

    .title-tertarik {
        margin: 0px 0px 8px;
    }

    .siap .btn-get-started {
        margin-left: -80px;
    }
}

@media (max-width: 768px) {
    .title-tertarik {
        font-size: 35px;
    }

    .title-kami-siap-bantu {
        font-size: 35px;
    }

    .siap-img img {
        width: 95%;
        height: auto;
        margin: 20px 0px 8px;

    }
}

@media (max-width: 767px) {
    .siap {
        text-align: center;
    }

    .siap-img img {
        display: none;
    }

    .siap .btn-get-started {
        margin-left: 0px;
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-top {
    position: relative;
    padding: 50px 0px;
    background-color: #FBD0D2;
}

.footer-top .footer-links a {
    padding-right: 2px;
    color: #d0d4fc;
    font-size: 13px;
    line-height: 0;
}

.footer-info h2 {
    font-size: 50px;
    font-weight: 700;
    color: black;
    font-family: "segoe UI";
    margin-left: 10%;
}

.footer-top .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.footer-top .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}

.footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
    margin-left: 10%;
}

.footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: black;
    line-height: 0;
    transition: 0.3s;
    margin-left: 10%;
}

.footer-top .social-links a:hover {
    color: #ed1c24;
}

.footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    margin-left: 18%;
    margin-top: -2%;
}

/* .footer .footer-top .footer-links {
  margin-bottom: 30px;
} */

.footer-links {
    margin-top: 5vh;
}

.footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-top .footer-links ul li {
    padding-right: 2px;
    color: #d0d4fc;
    font-size: 15px;
    line-height: 0;
}

.footer-top .footer-links a {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer-top .footer-links a {
    color: black;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    margin-left: 20%;
}

.footer-top .footer-links a:hover {
    color: #ed1c24;
}

.footer-img img {
    margin-top: -10vh;
    margin-left: 15%;
}

/* .footer-top .copyright {
    margin-top: 5%;
    margin-left: 40%;
} */

@media (max-width: 991px) {
    /* .footer-img img {
        display: none;
    } */

    .footer-top {
        text-align: center;
    }

    .footer-info {
        justify-content: center;
    }

    .footer-info h2 {
        text-align: center;
    }

    /* .footer-links h4 {
        margin-top: 10vh;
    } */
    .footer-info p {
        text-align: center;
    }

    .social-links {
        text-align: center;
    }

    .footer-links {
        text-align: center;
    }

    /* .footer-top .copyright {
        margin-left: -3%;
    } */
}

@media (max-width:768px) {
    .footer-img img {
        text-align: center;
        margin-left: 0px;
    }
}

@media (max-width:767px) {
    .footer-img img {
        display: none;
    }

    .footer-top .footer-links a {
        margin-top: 2%;
        margin-left: -3%;
    }

    .footer-top h4 {
        margin-top: 3%;
        margin-left: -3%;
    }

    .footer-info h2 {
        margin-left: -2%;
    }

    .footer-info.footer-info p {
        margin-left: -2%;
    }

    .social-links {
        margin-left: -10%;
    }
}

@media (max-width:425px) {
    .copyright h6{
        font-size: 15px;
    }
}

@media (max-width:375px) {
    .copyright h6 {
        font-size: 12px;
    }
}
